* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }

      body {
          font-family: Arial, sans-serif;
          background-color: lightyellow;
          color: #333;
  
      }

      header {
          background-color: orange;
          padding: 20px;
          text-align: center;
          border-bottom: 5px solid red;
          position: sticky; 
          top: 0;
      }
      
      header nav {
        background-color: #333;
        padding: 5px;
      }

      nav a {
          color: white;
          text-decoration: none;
          font-size: 18px;
      }

      nav a:hover {
          color: orange;
          background-color: white;
          padding: 2px 5px;
      }
      
      nav > ul {
        list-style-type: none;
        text-align: center;
      }
      
      nav > ul > li {
        display: inline-block;
        margin:  20px;
      }

      main {
          width: 800px;
          margin: 20px auto;
          background-color: white;
          padding: 15px;
          border: 1px solid gray;
      }

      section {
          margin-bottom: 25px;
          padding: 10px;
      }

      #hero {
          text-align: center;
      }
      
      .heroimage {
          width: 300px;
          display: block;
          margin: 15px auto;
          border: 2px solid red;
      }

      #hero h2 {
          font-size: 30px;
          color: red;
      }
      
      h2 + p {
        font-size: 1.1em;
        font-style: italic;
        color: darkslategray;
      }
      
      .burgeritem {
          background-color: #f9f9f9;
          border: 2px solid orange;
          padding: 10px;
          margin-top: 10px;
      }

      .burgeritem h3 {
          color: maroon;
          margin-bottom: 5px;
      }
      
      #menu h3 ~ p {
        border-bottom: 1px solid red;
        padding-bottom: 5px;
      }

      p.price {
          font-weight: bold;
          color: green;
          font-size: 16px;
          margin-top: 10px;
      }
      
      a[target="_blank"] {
        color: blue;
        font-weight: bold;
      }
      
      .burgeritem p {
         color: #444;
      }

      #mainfooter {
          background-color: #333;
          color: white;
          text-align: center;
          padding: 10px;
          position: relative;
          width: 100%;
          margin-top: 30px;
      }
      .burgeritem>h3:hover{
        color:red ;

      }
      .k{
        display: block;
        margin: 10px auto;
      }
      .k:hover{
        zoom:125%;
      }